<link rel="stylesheet" href="{{ themePath }}/theme.css">
<link rel="stylesheet" href="{{ themePath }}/jquery-ui.css">
<link rel="stylesheet" href="{{ themePath }}/jquery-theme.css">
<form>
    <slot></slot>
    <slot name="fields"></slot>
    <slot name="buttons"></slot>
</form>